<?xml version="1.0" encoding="UTF-8"?>
<suite name="Instappy Automation Test Suite" verbose="1">



	<listeners>
		<listener
			class-name="com.iimjobs.qa.ExtentReportListner.ExtentReportListner" />
	</listeners>

	<test name="IIMJOBS Test Cases">

		<classes>
			<class name="com.iimjobs.qa.testcases.LoginPageTest"></class>
			<class name="com.iimjobs.qa.testcases.JobFeedTest"></class>
			<class name="com.iimjobs.qa.testcases.Createyourjobfeedtest"></class>


		</classes>
	</test>
</suite>




 